<?xml version='1.0' encoding='utf-8'?>
<plugin id="com-cordova-image-save-to-gallery" version="1.2.4" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>CordovaImageSaveToGallery</name><description>This plugin is intended to show a picture from an URL into a Photo Viewer with zoom features.</description><js-module name="CordovaImageSaveToGallery" src="www/CordovaImageSaveToGallery.js"><clobbers target="CordovaImageSaveToGallery" /></js-module><platform name="ios"><config-file parent="/*" target="config.xml"><feature name="CordovaImageSaveToGallery"><param name="ios-package" value="CordovaImageSaveToGallery" /></feature></config-file><source-file src="src/ios/CordovaImageSaveToGallery.m" /></platform></plugin>